@model CoffeeShop.Models.Kohviautomaat


@{
    ViewBag.Title = "Haldus";
}

<h2>Haldus</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kohviautomaat</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

       
        @*<div class="form-group">
            <h5>Pakke lisada:</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PakkeLisatud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PakkeLisatud, "", new { @class = "text-danger" })
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" name="btn" />
            </div>
        </div>
    </div>
    @*@foreach (var item in (dynamic)Model)
    {
        if(item.PakkeLisatud == 1 && btn == "Save")
        {
            item.TopseJuua += 50;
            item.PakkeLisatud = 0;
        }
        else if(item.PakkeLisatud == 2)
        {
            item.TopseJuua += 100;
            item.PakkeLisatud = 0;
        }
        else
        {
            <p>Viga!</p>
        }
    }*@
}

<div>
    @Html.ActionLink("Valmis", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
