@model IEnumerable<CoffeeShop.Models.Kohviautomaat>

@{
    ViewBag.Title = "Tellimine";
}

<h2>Tellimine</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JoogiNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopseJuua)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JoogiNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopseJuua)
        </td>
        <td>
            @Html.ActionLink("Vali jook", "KlientValitudJook", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
